*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --main-bg-color:rgb(241 245 249);
    --header-bg-color: rgb(222, 232, 243);
    --navbar-bg: #eaf0f7;
    --font: "Cabin", sans-serif;
    --list-header-color: #a1a1aa;
    --header-color: #fb7185;
    --list-font-color: #64748b;
    --add-btn-color: #4c545f;
    --list-hover-color: #e2e8f0;
    --list-font-before-active-color: #7d8ea7;
}

body{
    background-color: var(--main-bg-color);
}

h1, h3{
    font-family: var(--font);
}

#full-content{
    height: 100dvh;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

ul {
    list-style: none;
}

/* HEADER */

header{
    height: 10dvh;
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    padding-left: 2%;
}

header h1{
    font-size: clamp(2.5rem, 4rem, 5.2rem);
    color: var(--header-color);
}

/* SIDE NAV BAR */

main{
    display: grid;
    grid-template-columns:1fr 6fr;
    height: calc(100vh - 10vh);
}

.left-side-nav{
    background-color: var(--navbar-bg);
    padding-left: clamp(0.5rem, 1rem, 1.7rem);
    padding-top: 1rem;
}

.nav-list-ul li, .add-project-button li{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.65rem;
    font-size: clamp(0.5rem, 1.2rem, 1.5rem);
    color: var(--list-font-before-active-color);
    cursor: pointer;
}

.nav-list-ul li i, .add-project-button li i {
    margin-right: 5%;
    font-size: clamp(0.5rem, 1.2rem, 1.5rem);  
}


.nav-heading{
    padding-bottom: 1%;
    font-size: clamp(0.6rem, 1.5rem, 2rem);
    color: var(--list-header-color);
}

.first-set-nav{
    padding-bottom: 2rem;
}

.nav-list-ul li:hover,
.nav-list-ul li:active,
.add-project-button li:hover,
.add-project-button li:active,
.nav-list-projects li:hover,
.nav-list-projects li:active {
    background-color: var(--list-hover-color); 
    margin-right: 2rem;
    border-radius: 0.5rem;
    color: var(--list-font-color);
}

/* ==== TASKS PAGES ==== */

/* HEADER */

.to-do-lists-container{
    padding: 1.5%;
}

.task-page-header{
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
}

.selected-page-title{
    font-family: var(--font);
    font-size: clamp(0.75rem, 1.87rem, 2.15rem);
}

.add-task-button, .add-project-button-js{
    font-family: var(--font);
    color: var(--add-btn-color);
    font-size: clamp(0.5rem, 1.4rem, 2rem);
    border: 1px solid var(--add-btn-color);
    background-color: transparent;
    padding: 0.15em 1em;
    border-radius: 1rem;
    cursor: pointer;
}

/* ==== PROJECT PAGE ==== */

.project-page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.project-btn-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.delete-project-button{
    font-family: var(--font);
    color: var(--add-btn-color);
    font-size: clamp(0.5rem, 1.4rem, 2rem);
    color: rgb(226, 74, 74);
    border: 1px solid var(--add-btn-color);
    background-color: transparent;
    border-radius: 1rem;
    cursor: pointer;
}


.add-task-button, .add-project-button-js, .delete-project-button{
    white-space: nowrap;
}

.add-project-button-js, .delete-project-button{
    padding: 0.15em 1em;
}


/* ==== ADD PROJECT POPUP ==== */

#project-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem;
    height: fit-content;
    border-radius: 1rem;
    border: none;
    font-family: var(--font);
    width: 20vw;
}

#proj-name{
    height: 5vh;
    padding: 0.2rem;
}

.user-enter-project-name input[type="text"]{
    font-size: clamp(0.5rem, 1.5rem, 1rem);
}


.user-enter-project-name{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.user-enter-project-name label {
    font-family: var(--font);
    font-size: clamp(0.5rem, 1.5rem, 1.8rem); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}


.popup-btn{
    display: flex;
    gap: 1rem;
}

.popup-btn .submit-btn,
.popup-btn .cancel-btn {
    flex: 1;
    font-family: var(--font);
}

.popup-btn .submit-btn input[type="submit"],
.popup-btn .cancel-btn input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
}

#project-dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.4);
}
