*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --main-font: "Comfortaa", sans-serif;
    --primary-bg-color: #99f6e4;
    --nav-bar-bg: aliceblue;
    --add-task-btn-clr: #b2f0e2;
    --btn-shadow-color: #4ea28e;
    --border-clr: #caf0e7;
    --add-project-bg:rgb(203, 218, 231);
    --add-project-shadow: rgb(173, 186, 198);
    --nav-hover-color:rgb(218, 226, 233);
    --popup-save: #5fe2d1;
    --popup-save-shadow: #a6f4e9;
    --popup-cancel: #f77d8f;
    --popup-cancel-shadow: #f5a7b3;
}

/* list styles */

ul{
    list-style-type: none;
}


body{
    font-family: var(--main-font);
    /* background-color: var(--primary-bg-color); */
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header-container{
    display: flex;
    align-items: center;
    padding-left: 2%;
    background-color: var(--primary-bg-color);
    font-size: clamp(1rem, 2vw, 2rem);
}

.content-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.first-set-container{
    padding-bottom: 1%;
}

/* Navbar Style */

.navbar-container{
    padding-top: 2.5vh;
    padding-left: 2vw;
    background-color:var(--nav-bar-bg);
}

.navbar-container ul li{
    padding-bottom: 2vh;
    font-size: clamp(1rem, 1.3vw, 2rem);
    cursor: pointer;
    display: flex;
}

.nav-item:hover,
.nav-item-list:hover,
.nav-item:active{
    background-color: var(--nav-hover-color);
    border-radius: 5px;
    margin-right: 0.5vw;
    padding: 1vh 0;
    padding-left: 0.5vw;
}


.navbar-container h2{
    padding-bottom: 2vh;
}

.navbar-container .first-set-container{
    padding-bottom: 2.3vh;
}

.navbar-container button{
    background-color: var(--add-project-bg);
    padding: 1vh 2vw;
    margin-top: 0.5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-family: var(--main-font);
    box-shadow: 4px 4px 5px 0px var(--add-project-shadow);
}

/* Main content body */

.main-list-container{
    padding-top: 2.5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    /* display: grid;
    grid-template-rows: 1fr 9fr; */
    overflow: hidden;
}

.main-list-container .list-heading-and-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1vh;
    border-bottom: 1px solid var(--border-clr);
}

.main-list-container .list-heading-and-button button{
    background-color: var(--add-task-btn-clr);
    padding: 1.5vh 2.5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-family: var(--main-font);
    box-shadow: 4px 4px 5px 0px var(--btn-shadow-color);
}

/* Add Project Pop Up */

#add-project-pop-up {
    border: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem;
    height: fit-content;
    border-radius: 1rem;
    border: none;
    font-family: var(--main-font);
    width: 20vw;
}

#project-name{
    height: 5vh;
    padding: 0.2rem;
}

.add-project-form input[type="text"]{
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    font-family: var(--main-font);
    margin-bottom: 1vh;
}

.add-project-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5vh;
}

.add-project-form label{
    font-family: var(--main-font);
    font-size: clamp(1rem, 1.5vw, 2rem);
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding-bottom: 1vh;
} 

.add-proj-pop-btns{
    display: flex;
    gap: 1vw;
}

.add-proj-pop-btns .pop-add-btn,
.add-proj-pop-btns .pop-cancel-btn {
    flex: 1;
    font-family: var(--font);
}

.add-proj-pop-btns .pop-add-btn input[type="submit"],
.add-proj-pop-btns .pop-cancel-btn input[type="submit"] {
    width: 100%;
    padding: 0.5vw;
}

#add-project-pop-up::backdrop {
    background-color: hsla(0, 0%, 0%, 0.4);
}

.pop-add-btn button{
    background-color: var(--popup-save);
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-family: var(--main-font);
    box-shadow: 4px 4px 5px 0px var(--popup-save-shadow);
}

.pop-cancel-btn button{
    background-color: var(--popup-cancel);
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-family: var(--main-font);
    box-shadow: 4px 4px 5px 0px var(--popup-cancel-shadow);
}

/* Page Heading Text */

.list-heading{
    font-size: clamp(1rem, 2vw, 2rem);
    /* padding-bottom: 1vh; */
    font-family: var(--main-font);
}


/* Add Task Pop Up */

#add-task-pop-up {
    border: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5vw;
    height: fit-content;
    border-radius: 1rem;
    border: none;
    font-family: var(--main-font);
    width: 40vw;
}

.add-task-pop-up-form input[type="text"]{
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    font-family: var(--main-font);
    margin-bottom: 2.5vh;
    padding: 0.5vh;
}

.add-task-pop-up-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5vh;
}

.add-task-pop-up-form label{
    font-family: var(--main-font);
    font-size: clamp(1rem, 1.5vw, 2rem);
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding-bottom: 1vh;
}

.add-task-pop-up-form input[type="date"]{
    font-size: clamp(0.5rem, 1.28vw, 1.5rem);
    font-family: var(--main-font);
    margin-bottom: 2.5vh;
}

.add-task-pop-up-form select{
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    font-family: var(--main-font);
    margin-bottom: 3.2vh;
    padding: 0.5vh;
}

.add-task-pop-up-form textarea{
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    font-family: var(--main-font);
    margin-bottom: 2.5vh;
    padding: 0.5vh;
    min-height: 10vh;
}

.add-task-pop-up-btns-task{
    display: flex;
    gap: 1vw;
    
}

.add-task-pop-up-btns .pop-add-btn-task input[type="submit"],
.add-task-pop-up-btns .pop-cancel-btn-task input[type="submit"] {
    width: 100%;
    padding: 0.5vw;
}

.pop-add-btn-task button{
    background-color: var(--popup-save);
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-family: var(--main-font);
    box-shadow: 4px 4px 5px 0px var(--popup-save-shadow);
}

.pop-cancel-btn-task button{
    background-color: var(--popup-cancel);
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-family: var(--main-font);
    box-shadow: 4px 4px 5px 0px var(--popup-cancel-shadow);
}

#add-task-pop-up::backdrop {
    background-color: hsla(0, 0%, 0%, 0.4);
}




