*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --main-font: "Comfortaa", sans-serif;
    --primary-bg-color: #99f6e4;
}

/* list styles */

ul{
    list-style-type: none;
}


body{
    font-family: var(--main-font);
    /* background-color: var(--primary-bg-color); */
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header-container{
    display: flex;
    align-items: center;
    padding-left: 2%;
    background-color: var(--primary-bg-color);
    font-size: clamp(1rem, 2vw, 2rem);
}

.content-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.first-set-container{
    padding-bottom: 1%;
}

/* Navbar Style */

.navbar-container{
    padding-top: 2.5vh;
    padding-left: 2vw;
}

.navbar-container ul li{
    padding-bottom: 2vh;
    font-size: clamp(1rem, 1.3vw, 2rem);
    cursor: pointer;
}

.navbar-container h2{
    padding-bottom: 2vh;
}

.navbar-container .first-set-container{
    padding-bottom: 2.3vh;
}

.navbar-container button{
    background: none;
    /* padding: 1vh 2vw; */
    border: none;
    border-radius: 5px;
    font-size: clamp(1rem, 1.3vw, 2rem);
    cursor: pointer;
}